.filter_field {
  min-width: 350px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-top: 1px solid var(--colors-neutral-100);
  .field_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    .field_name {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      color: var(--Colors-Generic-Black);
      font-family: var(--figtree-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .reset {
      padding: 8px 14px;
      gap: 4px;
      border-radius: 24px;
      color: var(--Colors-Neutral-500);
      text-align: center;
      font-family: var(--figtree-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: none;
    }
  }
  .sort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    .selectBttn {
      display: flex;
      justify-content: space-between;
      padding: 10px 14px !important;
      align-items: center;
      align-self: stretch;
      border-radius: var(--Radius-12, 12px) !important;
      background: var(--Colors-Generic-White) !important;
      color: var(--Colors-Neutral-800) !important;
      font-family: var(--figtree-font) !important;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: capitalize !important;
      &.active {
        background: var(--Colors-Neutral-50) !important;
        font-weight: 600 !important;
        color: var(--Colors-Generic-Black) !important;
      }
      .BttnLabel {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
